@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #15803D;
  --color-primary-hover: #166534;
  --color-primary-light: #F0FDF4;
  --color-secondary: #ffffff;
  --color-background-app: #F8FAFC;
  
  --font-sans: 'Inter', system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-background-app text-slate-900 font-sans antialiased;
  }
}

/* Custom Scrollbar for modern dashboards */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}
